body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #6f7479;
  background: #fff;
  margin: 0;
  padding: 0;
  line-height: normal; font-weight: 400;
min-height: 100%;
display: flex;
flex-direction: column;
}



.wrapper{box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); max-width: 1300px; width: 100%; margin: 0 auto;}

.billPrintWrapper{padding: 15px; color: #333;}
.billPrintWrapper h2{font-size: 22px;color: #333;margin: 0 0 14px 0;padding: 0 0 8px 0;text-align: center;font-weight: 700;line-height: 24px;border-bottom: #ccc solid 1px;}
.billPrintWrapper h2 span{font-size: 16px; font-weight: 400; display: block;}

.billPrintWrapper .printTop023 {margin-bottom: 10px; width: 100%; display: inline-block; color: #333; font-size: 16px;}
.billPrintWrapper .printTop023 .leftNo {float: left; padding: 0 15px;}
.billPrintWrapper .printTop023 .rightDate {float: right; padding: 0 15px;}

.billPrintWrapper .debitLine{margin-bottom: 10px; padding: 0 15px; font-size: 16px;}
.billPrintWrapper .debitLine p{margin: 0; padding: 0;}
.billPrintWrapper .debitLine p span{border-bottom: #000 solid 2px; font-size: 22px; font-weight: 700;}
.billPrintWrapper .billTxtArea{width: 100%; padding: 0 15px;}
.billPrintWrapper .billTxtArea p{margin: 0; padding: 0; font-size: 15px; line-height: 20px;}
.billPrintWrapper .billTxtArea p strong.italic{font-style: italic;}
.billPrintWrapper .priceSec{max-width: 120px;border: #000 solid 1px;padding: 5px;color: #333;margin-top: 6px;font-weight: 700;}

.billPrintWrapper .printBottom{margin:80px 0 0 0; padding: 0 15px; width: 100%; display: inline-block;}
.billPrintWrapper .printBottom .col-md-3{width: 100%; max-width: 26%; padding: 0 0; float: left; box-sizing: border-box;}
.billPrintWrapper .printBottom .col-md-2{width: 100%; max-width: 24%; padding: 0 0; float: left; box-sizing: border-box;}










